[user]
	name = Richard
	email = richytong@gmail.com
[credential]
	helper = store

[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    s = status -sb --
    d = diff
    a = add .
    c = commit -v
    ch = checkout
    p = push
