! colors
*color0:              #000000
*color1:              #B40000
*color2:              #00AA00
*color3:              #AAAA00
*color4:              #5555AA
*color5:              #CC00CC
*color6:              #00AAAA
*color7:              #AAAAAA
*color8:              #555555
*color9:              #FFF000
*color10:             #00DD00
*color11:             #FFFF00
*color12:             #6464FF
*color13:             #FF00FF
*color14:             #00EEEE
*color15:             #DDDDDD
*foreground:          #FFFFFF
*background:          #000000
*cursorColor:         #FFFFFF

! transparency
*transparent:         true
*shading:             10

! du | xdu
xdu*foreground:       gray
xdu*background:       black
xdu*window.width:     1024
xdu*window.height:    768
xdu.ncol:             4
xdu.font:             -*-helvetica-bold-r-normal--18-*
xdu.showsize:         False
xdu.order:            size
xdu*help*foreground:  green
xdu*help*background:  red4
xdu*help*font:        -*-helvetica-bold-r-normal--18-*

! xpdf
xpdf.initalZoom:      width
xpdf.reverseVideo:    true
xpdf.toolTipEnable:   false

! URxvt
URxvt*autoWrap:        true
URxvt*metaSendsEscape: true
URxvt*scrollBar:       false
URxvt*letterSpace:     0

! URxvt fonts
URxvt.font:            xft:monospace:size=8:antialias=true

! URxvt special keys
URxvt.keysym.Mod3-j:   \033<RAlt-j>
URxvt.keysym.Mod3-k:   \033<RAlt-k>
